<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</div>

<div class="container">
    <div class="form-group">
        <button class="btn btn-info" type="submit" (click)="voteUp()">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <span>  </span>
            <span class="badge"> {{upvote}} Upvote </span>
        </button>
    
        <button class="btn btn-info" type="submit" (click)="voteDown()">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
            <span></span>
            <span class="badge"> {{downvote}} Downvote </span>
    
        </button>

        <div>
            <button class="btn btn-danger" (click)="quoteDelete(true)"> <span class="glyphicon glyphicon-trash"></span> Delete </button>
        </div>
    
    </div>

    


   
    
    
</div>

 <!-- <input [(ngModel)]="newId" />
<button (click)="addEntry()">Add</button> -->

<table>
    <tbody>
      <tr *ngFor="let entry of entries">
        <td>{{entry.id}}</td>
        <td>
          <span *ngIf="getElapsedTime(entry) as elapsed">
            {{elapsed['hours']}} h {{elapsed['minutes']}} m {{elapsed['seconds']}} s
          </span>
        </td>
      </tr>
    </tbody>
  </table>




