<div class="btn-group">
    <button class="btn btn-info" type="submit" (click)="voteUp()">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        <span>  </span>
        <span class="badge">  Upvote </span>
    </button>

    <button class="btn btn-info" type="submit" (click)="voteUp()">
        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
        <span></span>
        <span class="badge">  Downvote </span>

    </button>

</div>

<div>
    <p> Published on {{quote.completeDate|date:'short'}} <strong> <em> {{quote.completeDate|dateCount}} days ago </em> </strong> </p>
</div>

<br>

<div>
    <button class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span> Delete </button>
</div>


