<!-- Header section -->
<div class="container-fluid">
    <a class="navbar-brand" href="#index.html">
        <h1> <img src="/favicon.ico" alt="site icon" width="50" height="50"> The QuotEye </h1>
    </a>
    <p>
       An eye for the best quotes. 
    </p>
</div>

<!-- Row starts -->
<!-- with two columns -->
<div class="row">

    <div class="col">
        <div class="card-holder">
            <div class="card" *ngFor="let quote of quotes;let i = index">
                <div class="card-body">
                    <h4 class="card-title">

                        {{}}

                    </h4>

                    <blockquote class="blockquote mb-0">
                        <p> &#8216; {{}} &#8217; </p>
                        <footer class="blockquote-footer"> by {{}} </footer>

                    </blockquote>

                    <!--  -->

                    <button (click)="toggleDetails(i)" class="btn btn-primary">
                        Toggle Details
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <!--  -->
    </div>

    <br><br>

    <p> "You have reached the end of your Quotes." </p>

    <div>
        <div style="position:relative;"> <iframe src="https://gifer.com/embed/NGgD" width="50%" height="50%" style='top:0;left:0;' frameBorder="0" allowFullScreen></iframe> </div>  
    </div>

</div>