.container {
    padding-top: 2%;
    background-image: url('/assets/img/bg2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 8%;
}

.row {
    margin-top: 3%;
    background-color: mediumturquoise;
}

div h4 {
    margin-top: 5%;
}

.card-holder {
    margin-left: 15%;
}

.card {
    width: 30rem;
    margin-top: 5%;
    margin-right: 35%;
    margin-bottom: 5%;
}

.card-body {
    background-color: aquamarine;
}

.card-body h4 {
    font-family: 'Anonymous Pro', monospace;
}

.btn {
    margin-top: 1.5%;
    margin-bottom: 5%;
    float: left;
}

p {
    margin-left: 2.5%;
    text-align: center;
}

.gify {
    padding-bottom: 1.5%;
    margin-left: 2.5%;
    text-align: center;
}

.blockquote-footer {
    font-family: 'Spectral SC', serif;
    margin-top: 0.5%;
}

footer {
    text-align: center;
}

