<!-- Header section -->
<div class="container">
    <a class="navbar-brand" href="#index.html">
        <h1> <img src="/favicon.ico" alt="site icon" width="50" height="50"> The QuotEye </h1>
        <span style="color:white;font-family: 'Courgette',cursive;"> An eye for the best quotes. </span>  
    </a>
    <p>
       
    </p>
</div>



<!-- Row starts -->
<!-- with two columns -->
<div class="row">

    <div class="col">
        <div class="card-holder">
            <div class="card" *ngFor="let quote of quotes;let i = index">

                <span> <span style="font-family:'Courgette';margin-left:1%;"> Added by {{quote.name}}</span> <span style="float:right;margin-right:1%;font-style:italic;"> {{quote.completeDate|dateCount}} days ago </span> </span> 

                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <h4> &#8216; {{quote.description}} &#8217; </h4>
                        <footer class="blockquote-footer"> {{quote.author}} </footer>
                    </blockquote>

                    <app-quote-detail *ngIf="quote.showDescription" [quote]="quote" (isComplete) = "deleteQuote($event,i)"></app-quote-detail>

                    <button (click)="toggleDetails(i)" class="btn btn-primary">
                        Toggle Quote
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>

</div>

<div class="container-fluid">

    <br><br>

    <p> "You have reached the end of your Quotes." </p>

    <div class="gify">
        <div style="position:relative;"> <iframe src="https://gifer.com/embed/NGgD" width="50%" height="50%" style='top:0;left:0;' frameBorder="0" allowFullScreen></iframe> </div>  
    </div>

    <footer>
        <app-social></app-social>
    </footer>

    

</div>