.container-fluid {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 10%;
    background-image: url('src/assets/img/form.background.jpg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

.btn {
    margin-left: 1.5%;
    margin-top: 1.5%;
}